@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');

body{
    background: linear-gradient(180deg, #72ffe5 0%, #144480 100%);
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.titulo{
    padding: 2em;
    border: 2px white;
    margin: 2em 0 10em 0;
    text-shadow: 5px 5px 20px #144480;
}

.titulo a{
    text-decoration: none;
    color: white;
}

.titulo h1{
    font-size: 4em;
}

.titulo:hover{
    transform: scale(1.1);
    transition: .4s ease-in-out;
    text-shadow: 5px 5px 50px white;
}

.botao{
    color: white;
    margin-top: 2em;
    background: black;
    border-radius: 1em;
}

.botao:hover{
    color: #72ffe5;
    transform: scale(1.1);
    transition: .4s ease-in-out;
}

.elemento{
    display: none;
}

.navegacao{
    height: 60px;
}

.titulo-elementos{
    font-size: 1.5em;
}

.botaoElemento{
    background-color: #72ffe5;
    color: gray;
}

.botaoElemento:hover{
    transition: .4s ease-in-out;
    transform: scale(1.1);
    color: aquamarine;
}

.spacer{
    height: 42vh;
}